<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>vcName</key>
		<string>KHomeViewController</string>
		<key>titleName</key>
		<string>首页</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>KTimeLineViewController</string>
		<key>titleName</key>
		<string>朋友圈</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>KCollegeViewController</string>
		<key>titleName</key>
		<string>学院</string>
		<key>imageName</key>
		<string></string>
	</dict>
	<dict>
		<key>vcName</key>
		<string>KProfileViewController</string>
		<key>titleName</key>
		<string>我的</string>
		<key>imageName</key>
		<string></string>
	</dict>
</array>
</plist>
